/* 
----1-TYPOGRAPHY 

-FONT-WEIGHT
Default: 400
500 Medium
600 Semi-Bold
700 Bold

-FONT SIZE SYSTEM (px)
10/ 12/ 14/ 16 /18/ 20/ 24/ 30/ 44/ 52/ 62/ 74/ 86/ 98

-LINE_HEIGHT
Default - 1
1.05
1.2
Paragraph default: 1.6

-LETTER-SPACING
-0.5px
0.75px
  
----2-COLORS

-Primary: #e67e22
-Tints: 
#fdf2e9
#fae5d3
-Shades:#cf711f
-Accents:
-Greys: 
    #555;
    #333;

----3-SHADOWS

----4-BORDER-RADIUS
Default: 9px;
  11px;

----5-WHITE-SPACING

-SPACING SYSTEM (px)
2/ 4/ 8/ 12 / 16/ 24/ 32/ 48/ 64/ 80/ 96/ 128
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* Default font-size - 16 */
  /* 10/16 is to calculate and get percentage(dynamic)*/
  font-size: 62.5%; /* font-size:10px    1rem = 10px*/
  overflow-x: hidden;

  /* Doesnt work in safari  so use javascript, not scroll-behaviour */
  /* scroll-behavior: smooth; */
}
body {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  line-height: 1;
  color: #555;
  overflow-x: hidden;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fdf2e9;
  padding: 0 4.8rem;
  height: 9.6rem;
  position: relative;
}
.sticky .king {
  position: fixed;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  top: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.95);
  z-index: 999;
  height: 8rem;
  padding-top: 0;
  padding-bottom: 0;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
}
.sticky .section-hero {
  margin-top: 9.6rem;
}
.king {
}
.logo {
  height: 2.2rem;
}

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4.8rem;
}
.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
}
.main-nav-link:hover,
.main-nav-link:active {
  color: #cf711f;
}
.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  background-color: #e67e22;
  color: #fff;
}
.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: #cf711f;
}
.btn-mobile-nav {
  border: none;
  display: none;
  background: none;
  cursor: pointer;
}
.mobile-nav-icon {
  height: 4.8rem;
  width: 4.8rem;
  color: #333;
}
.mobile-nav-icon[name="close-outline"] {
  display: none;
}
.section-hero {
  background-color: #fdf2e9;
  padding: 4.8rem 0 9.6rem 0;
}

.hero {
  max-width: 130rem;

  margin: 0 auto;
  padding: 0 3.2rem;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9.6rem;
  align-items: center;
}
.heading-primary,
.secondary-heading,
.heading-teritary {
  font-weight: 700;
  color: #333;
  letter-spacing: -0.5px;
}
.heading-primary {
  font-size: 5.2rem;
  line-height: 1.05;
  margin-bottom: 3.2rem;
}

.secondary-heading {
  font-size: 4.4rem;
  line-height: 1.2;
  margin-bottom: 9.6rem;
}
.sub-heading {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  color: #cf711f;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
  letter-spacing: 0.75px;
}
.hero-description {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}
.btn:link,
.btn:visited {
  font-size: 2rem;
  text-decoration: none;
  border-radius: 9px;
  transition: all 0.3s;

  font-weight: 600;
  display: inline-block;
  padding: 1.6rem 3.2rem;
}
.btn--full:link,
.btn--full:visited {
  background-color: #e67e22;
  color: #fff;
}
.btn--full:hover,
.btn--full:active {
  background-color: #cf711f;
}
.btn--outline:link,
.btn--outline:visited {
  background-color: #fff;
  color: #555;
}
.btn--outline:hover,
.btn--outline:active {
  background-color: #fdf2e9;
  /* border: 3px solid #fff;  it changes the some arrangements  */
  /* Trick to add border inside of element using box shadow*/
  box-shadow: inset 0 0 0 3px #fff; /* Inset properties do it inside*/
}
.hero-img {
  width: 100%;
}
.margin-right-sm {
  margin-right: 1.6rem !important;
}
.delivered-meals {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  margin-top: 8rem;
}
.delivered-imgs {
  display: flex;
}
.delivered-imgs img {
  height: 4.8rem;
  width: 4.8rem;
  border-radius: 50%;
  margin-right: -1.6rem;
  border: 3px solid #fdf2e9;
}
.delivered-imgs img:last-child {
  margin-right: 0;
}
.delivered-text {
  font-size: 1.8rem;
  font-weight: 600;
}
.delivered-text span {
  color: #cf711f;
  font-weight: 700;
}
/****************************/
/***REUSABLE CSS***/
/****************************/

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}
.grid {
  display: grid;
  column-gap: 6.4rem;
  row-gap: 9.6rem;
  /* margin-bottom: 9.6rem; */
}
/* .grid:last-child {
  margin-bottom: 0;
} */
.grid:not(:last-child) {
  margin-bottom: 9.6rem;
}
.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}
.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}
.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}
.grid-vertical {
  align-items: center;
}
.section-how {
  padding: 9.6rem 0;
}
.step-img-box {
  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
}
.step-img {
  width: 35%;
}
.step-number {
  font-size: 8.6rem;
  font-weight: 600;
  color: #ddd;
  margin-bottom: 1.2rem;
}
.heading-teritary {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
}
.step-description {
  font-size: 1.8rem;
  line-height: 1.8;
}
.step-img-box::before,
.step-img-box::after {
  content: "";
  display: block;
  border-radius: 50%;

  position: absolute;
  /*top: 50%;        if it not center, use it 
  left: 50%;
  transform: translate(-50%, -50%); */
}

.step-img-box::before {
  background-color: #fdf2e9;
  width: 60%;
  /* Height doesnt work here */
  padding-bottom: 60%;
  z-index: -2;
}
.step-img-box::after {
  padding-bottom: 45%;
  width: 45%;
  background-color: #fae5d3;
  z-index: -1; /* It helps when overlapping the some element */
}
.heading-featured-in {
  font-size: 1.4rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  text-align: center;
  margin-bottom: 2.4rem;
  color: #888;
}
.section-featured {
  padding: 4.8rem 0 3.2rem 0;
}
.logos {
  display: flex;
  justify-content: space-around;
}
.logos img {
  height: 3.2rem;
  filter: brightness(0);
  opacity: 50%;
}
/****************************/
/***REUSABLE CSS***/
/****************************/
.section-meals {
  padding: 9.6rem 0;
}
.meal-img {
  width: 100%;
  /* border-radius: 11px 11px 0 0; */
}
.meal-title {
  font-size: 2.4rem;
  font-weight: 600;
  margin-bottom: 3.2rem;
  color: #333;
}
.meal-attributes {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.meal-attribute {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}
.meal-icon {
  color: #e67e22;
  height: 2.4rem;
  width: 2.4rem;
}
strong {
  font-weight: 500;
}
.tag {
  display: inline-block;
  padding: 0.4rem 0.8rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #333;
  border-radius: 100px;
  font-weight: 600;
}
.tag--vegetarian {
  background-color: #51cf66;
}
.tag--vegan {
  background-color: #94d82d;
}
.tag--paleo {
  background-color: #fcc419;
}
.meal-tags {
  margin-bottom: 1.2rem;
  display: flex;
  gap: 0.4rem;
}
.meal {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  border-radius: 11px;
  overflow: hidden;
  /* padding: 2.4rem 2.4rem; */
  transition: all 0.4s;
}
.meal:hover {
  transform: translate(0rem, -1.2rem);
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.06);
  /* transform: scale(1.1); */
}
.meal-content {
  padding: 3.2rem 4.8rem 4.8rem 4.8rem;
}

.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
.list-icon {
  color: #e67e22;
  height: 3rem;
  width: 3rem;
}
.list-tems {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
  line-height: 1.2;
}
.margin-botttom-md {
  margin-bottom: 4.8rem !important;
}
.all-recipes {
  text-align: center;
  font-size: 1.8rem;
}
.link:link,
.link:visited {
  display: inline-block;
  text-decoration: none;
  color: #e67e22;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  transition: all 0.3s;
}
.link:hover,
.link:active {
  color: #cf711f;
  /*border-bottom: hidden;     Transition doesnt work here
                        It's also damage the white spaces */
  border-bottom: 1px solid transparent;
}

.center-text {
  text-align: center;
}
/****************************/
/***TESTIMONIAL CSS***/
/****************************/
.section-testimonials {
  background-color: #fdf2e9;
  display: grid;
  grid-template-columns: 55fr 45fr;
  align-items: center;
}
.testimonial-container {
  padding: 9.6rem;
}
.testimonial-img {
  width: 6.4rem;
  border-radius: 50%;
  margin-bottom: 1.2rem;
}
.testimonials {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 4.8rem;
  column-gap: 8rem;
}
.testimonial-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 1.6rem;
}
.testimonial-name {
  font-size: 1.6rem;
  color: #6f6f6f;
}
.gallery-item img {
  display: block;
  width: 100%;
  transition: all 0.4s;
}
.gallery-item {
  overflow: hidden;
}
.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
  padding: 1.6rem;
}
.gallery-item img:hover {
  transform: scale(1.1);
}
/****************************/
/***PRICING CSS***/
/****************************/
.section-pricing {
  padding: 9.6rem 0;
}
.plan-header {
  text-align: center;
  margin-bottom: 4.8rem;
}
.plan-name {
  color: #cf711f;
  letter-spacing: 0.75;
  font-weight: 600;
  font-size: 2rem;
  text-transform: uppercase;
  margin-bottom: 3.2rem;
}
.plan-price {
  font-size: 6.2rem;
  font-weight: 600;
  color: #333;
  margin-bottom: 1.6rem;
}
.plan-price span {
  font-size: 3rem;
  font-weight: 500;
  margin-right: 0.8rem;
}
.plan-text {
  font-size: 1.6rem;
  line-height: 1.6;
  color: #6f6f6f;
}
.plan-sign-up {
  margin-top: 4.8rem;
}
.pricing-plan {
  border-radius: 11px;

  width: 75%;
}
.pricing-plan--starter {
  justify-self: end;
  padding: 4.6rem;
  border: 2px solid #fdf2e9;
  /* box-shadow: inset 0 0 2.4rem #fdf2e9; */
}
.pricing-plan--complete {
  background-color: #fdf2e9;
  padding: 4.8rem;
  position: relative;
  overflow: hidden;
}
.pricing-plan--complete::after {
  content: "Best value";
  text-transform: uppercase;
  background-color: #ffd43b;
  font-size: 1.4rem;
  font-weight: 700;
  /* display: block; */
  position: absolute;
  top: 6%;
  transform: rotate(45deg);
  padding: 0.8rem 8rem;
  right: -18%;
  color: #333;
}
.feature-icon {
  color: #e67e22;
  height: 3.6rem;
  width: 3.6rem;
  margin-bottom: 3.2rem;
  padding: 1.6rem;
  background-color: #fdf2e9;
  border-radius: 50%;
}
.feature-title {
  font-size: 2.4rem;
  color: #333;
  font-weight: 700;
  margin-bottom: 1.6rem;
}
.feature-text {
  font-size: 1.8rem;
  line-height: 1.8;
}
.plan-details {
  font-size: 1.6rem;
  line-height: 1.6;
  text-align: center;
}
/****************************/
/***Call to Action**/
/****************************/
.section-cta {
  padding: 4.8rem 0 12.8rem 0;
}
.cta {
  display: grid;
  grid-template-columns: 2fr 1fr;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
  /* background-color: #e67e22; */
  border-radius: 11px;
  background-image: linear-gradient(to right bottom, #eb984e, #e67e22);
  /* height: 50rem; */
  overflow: hidden;
}
.cta-img-box {
  background-image: linear-gradient(
      to right bottom,
      rgba(235, 151, 78, 0.35),
      rgba(230, 125, 34, 0.35)
    ),
    url(../img/eating.jpg);
  background-size: cover;
  background-position: center;
}
.cta-text-box {
  color: #45260a;
  padding: 4.8rem 6.4rem 6.4rem 6.4rem;
}
.cta .secondary-heading {
  color: #45260a;
  margin-bottom: 3.2rem;
}
.cta-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 4.8rem;
}
.cta-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3.2rem;
  row-gap: 2.4rem;
}
.cta-form label {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
}
.cta-form input,
.cta-form select {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.8rem;
  border-radius: 9px;
  border: none;
  font-family: inherit;
  color: inherit;
  background-color: #fdf2e9;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
.cta-form input::placeholder {
  color: #aaa;
}
*:focus {
  outline: none;
  /* outline: 2px dotted red;
  outline-offset: 9px; */
  box-shadow: 0 0 0 0.8rem rgba(230, 125, 34, 0.5);
}

.cta-form select {
}
.cta-form button {
  font-size: 2rem;
  align-self: end;
  padding: 1.2rem;
  border-radius: 9px;
  border: none;
  background-color: #45260a;
  color: #fdf2e9;
  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
  transition: all 0.3s;
}
.cta-form button:hover {
  background-color: #fff;
  color: #555;
}
.cta *:focus {
  outline: none;
  box-shadow: 0 0 0 0.8rem rgba(253, 242, 233, 0.5);
}
.grid--5--cols {
  grid-template-columns: repeat(5, 1fr);
}
/****************************/
/***FOOTER**/
/****************************/
.footer {
  padding: 12.8rem 0;
  border: 1px solid #eee;
}
.footer-heading {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 4rem;
}
.footer-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}
.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  font-size: 1.6rem;
  color: #767676;
  transition: all 0.3s;
}
.footer-link:hover,
.footer-link:active {
  color: #555;
}
.social-links {
  list-style: none;
  display: flex;
  gap: 2.4rem;
}
.footer-logo {
  display: block;
  margin-bottom: 3.2rem;
}
.social-icon {
  height: 2.4rem;
  width: 2.4rem;
}
.copyright {
  font-size: 1.4rem;
  color: #767676;
  line-height: 1.6;
  margin-top: auto;
}
.logo-col {
  display: flex;
  flex-direction: column;
}
.contact {
  /* font-family: inherit; */
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1.6;
}
.address {
  margin-bottom: 2.4rem;
}
.grid-footer {
  grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
}

/****************************/
/***FIXING SAFARI FLEXBOX GAP ***/
/****************************/
.no-flexbox-gap .main-nav-list li:not(:last-child) {
  margin-right: 4.8rem;
}

.no-flexbox-gap .list-item:not(:last-child) {
  margin-bottom: 1.6rem;
}

.no-flexbox-gap .list-icon:not(:last-child) {
  margin-right: 1.6rem;
}

.no-flexbox-gap .delivered-faces {
  margin-right: 1.6rem;
}

.no-flexbox-gap .meal-attribute:not(:last-child) {
  margin-bottom: 2rem;
}

.no-flexbox-gap .meal-icon {
  margin-right: 1.6rem;
}

.no-flexbox-gap .footer-row div:not(:last-child) {
  margin-right: 6.4rem;
}

.no-flexbox-gap .social-links li:not(:last-child) {
  margin-right: 2.4rem;
}

.no-flexbox-gap .footer-nav li:not(:last-child) {
  margin-bottom: 2.4rem;
}

/* @media (max-width: 75em) {
  .no-flexbox-gap .main-nav-list li:not(:last-child) {
    margin-right: 3.2rem;
  }
} */

/* @media (max-width: 59em) {
  .no-flexbox-gap .main-nav-list li:not(:last-child) {
    margin-right: 0;
    margin-bottom: 4.8rem;
  }
} */
